<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../components/header'); %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-4" style="padding: 10px 15px;">
                    <div class="well">
                        <div class="sidebar-txt">
                            Sidebar
                        </div>
                        <% option.forEach(function(val) { %>
                            <a href="<%= val.url %> ">
                                <li>
                                    <%= val.name %>
                                </li>
                            </a>
                        <% }); %>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="jumbotron">
                        <h1>
                            Contact Us
                        </h1>
                        <p>
                            Phone: <%= contactInfo.phone %>
                        </p>
                        <p>
                            Email: <%= contactInfo.email %>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../components/footer'); %>
        </footer>
    </body>
    <style>
        .sidebar-txt {
            font-size: xx-large;
            font-weight: 600;
            margin: 10px 0px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .option {
            cursor: pointer;
        }
    </style>
</html>