<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../components/head'); %>
        <link href="/home/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="container">
        <header>
            <%- include('../components/header'); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>
                    Mascots Data List
                </h1>
                <p class="tagline">
                    <%= tagline %>
                </p>
                <ul>
                    <% mascots.forEach(function(mascot) { %>
                        <li>
                            <strong><%= mascot.name %></strong>
                            representing <strong><%= mascot.organization %></strong>, born <strong><%= mascot.birth_year %></strong>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </main>
        <footer>
            <%- include('../components/footer'); %>
        </footer>
    </body>
    <%- include('../components/script'); %>
</html>